@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
body{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/*header*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgb(22, 22, 22);
    box-shadow: 0 15px 30px -22px black;
    z-index: 10;
}
.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1 b{
    color: crimson;
}
.menu{
    height: 80px;
    margin-right: 60px;
}
.menu nav{
    height: 100%;
}
.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
    text-decoration: none;
}
.menu nav ul li{/*para que aparezca una linea*/
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu nav ul li a{
    text-decoration: none;
    color: crimson;
    transition: color 3000ms;
}
.menu nav ul li a:hover{
    color: blue;
}
.menu-selected:before{
    content:'';
    width: 100%;
    height: 4px;
    background: crimson;
    position: absolute;
    top: 0;
    left: 0;

}
.menu .text-menu-selected{
    color: white;
}


#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: white;
    border-radius: 100%;
    color: black;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}
#icon-menu:hover{
    opacity: 0.8;
}

/*Portada*/
.container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../Juegos/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.container-info-cover h1{
    font-size: 60px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
}
.container-info-cover p{
    color: black;
    font-size: 23px;
    font-weight: 300;
    font-family: cursive;
}

/*articulos*/
.container-content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
article{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px black;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
article:before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: crimson;
}
article h1{
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
}
article p{
    margin-top: 20px;
    font-size: 18px;
    color: black;
}
article img{
    width: 100%;
    margin-top: 20px;
}

/*aside*/

.container-aside aside{
    width: 320px;
    border-right: 6px;
    box-shadow: 0 0 20px -20px black;
    border-radius: 6px;
    overflow: hidden;
    margin-left: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}
.container-aside aside img{
    width: 100%;
}
.container-aside aside h2
.container-aside aside p{
    margin-top: 20px;
    padding: 0px 20px;
}
.container-aside aside button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: cyan;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 6px;
}
.container-aside aside button:hover{
    opacity: 0.9;
}

/*buscador*/

#ctn-icon-search{
    position: absolute;
    right: 20px;
    height: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
}
#ctn-icon-search i{
    font-size: 18px;
    color: crimson;
    cursor: pointer;
    transition: all 3000ms;
}
#ctn-icon-search i:hover{
    color: blue;
}
#ctn-bars-search{
    position: fixed;
    top: -10px;
    width: 100%;
    /*background: white;*/
    padding: 20px;
    z-index: 9;
    transition: all 600ms;
}
#ctn-bars-search input{
    display: block;
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
}
#box-search{
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    background: white;
    z-index: 8;
    overflow: hidden;
    display: none;
}
#box-search li a{
    display: block;
    width: 1200px;
    color: grey;
    padding: 12px 20px;
}
#box-search li a:hover{
    background: rgb(223, 219, 219);
}
#box-search li a i{
    margin-right: 10px;
    color: grey;
}
#cover-ctn-search{/*sombreado de la pagina*/
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 7;
    display: none;

}
/*buscador*/

#ctn-bars-search .btn-info{
    color: crimson;
    border: none;
    background-color: black;
    padding: 20px;
    position: absolute;
    right: 20px;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
}


/*footer*/
.container-footer{
    width: 100%;
    text-decoration: none;
}
.container-footer footer{
   width: 100%;
   height: 150px;
   background-image: url(../Juegos/Mangekyou.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   text-align: center;
   
}
.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;
}
.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 10px;
    background: black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: crimson;
}
.container-footer footer .redes-footer .fa-facebook:hover{
    color: white;   
}
.container-footer footer .redes-footer .fa-twitter:hover{
    color: white;
}
.container-footer footer .redes-footer .fa-instagram:hover{
    color: white;
}
.container-footer footer .redes-footer .fa-youtube:hover{
    color: white;
}
.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
}
.container-footer h4{
    text-align: center;
    margin-top: 20px;
    color: white;
}
.container-footer footer span{
    color: grey;
}
.container-footer footer span b{
    color: crimson;
}
.container-footer footer a{
    text-decoration: none;
}


/*adaptador para dispositivos*/
@media screen and (max-width: 1220px){
    .header-content,
    .container-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }
}
@media screen and (max-width: 1020px){
    .container-content{
        width: 100%;
        flex-direction: column;
    }
    article{
        box-shadow: 0 0 0 0;
    }
    .container-aside{
        display: flex;
        justify-content: center;
    }
    .container-aside aside{
        max-width: 300px;
        margin: 10px;
    }
}
@media screen and (max-width: 800px){
   /*body{
        overflow: hidden;
    }*/
    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }
    .move-container-all{
        transform: translateX(200px);
    }
    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: black;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }
    .show-menu{
        width: 200px;
        transform: translateX(0px);
    }
    .menu nav ul{
        flex-direction: column;
    }
    .menu nav ul li{
        max-width: 100px;
        height: 50px;
        justify-content: flex-start;
    }
    .menu-selected:before{
        width: 0;
    }
    .menu nav ul li a{
        margin-top: 40px;
        color: crimson;
    }
    .menu nav ul li a i{
        width: 200px;
        display: inline-block;
        margin-right: 10px;
        color: crimson;
    }
    #icon-menu{
        display: flex;
    }
    .container-asaide{
        flex-wrap: wrap;
    }
}